<%if(successInfo.length> 0){%>
    <div class="alert-succes">
        <span class="succesbtn"></span>
        <%= successInfo%>
    </div>
    <%}%>

        <%if(failedInfo.length> 0){%>
            <div class="alert-failed">
                <span class="failedbtn"></span>
                <%= failedInfo%>
            </div>
            <%}%>