<%- include('../partials/header') %>
    <div class="container">
        <div class="header-add">
            <h1>Addating Data</h1>
        </div>
        <form action="" method="post">
            <div class="body1">
                <div class="body-add">
                    <p>Title</p>
                    <input type="text" title="title" name="title" placeholder="insert your title" required>
                </div>
            </div>

            <div class="footer-add">
                <button type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
                <a href="users"><i class="fa-sharp fa-solid fa-rotate-left"></i></i></a>
            </div>
        </form>
    </div>
    <%- include('../partials/footer') %>